
    <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
        <div class='panel panel-default'>
            <div class='panel-heading'><h4> Ticket Details</h4></div>
            <table class="table table-bordered myTable" id="tblGridListViewPost1">
                <tr>
                    <td><b>Ticket ID</b></td>
                    <td>@ViewBag.TicketNo</td>
                    <td><b>Ticket Code</b></td>
                    <td>@ViewBag.IssueName</td>

                </tr>
                <tr>
                    <td><b>Ticket Name</b></td>
                    <td>@ViewBag.IssueName</td>
                    <td><b>Project Name</b></td>
                    <td>@ViewBag.ProjectName</td>
                </tr>
                <tr>
                    <td><b>Ticket Type</b></td>
                    <td colspan="3">@ViewBag.TicketTypeName</td>
                </tr>
                <tr>
                    <td><b>Ticket Description</b></td>
                    <td colspan="3">@ViewBag.IssueDescription</td>
                </tr>
                <tr>
                    <td><b>Ticket Start Date</b></td>
                    <td>@ViewBag.IssuestartDate</td>
                    <td><b>Ticket End Date</b></td>
                    <td>@ViewBag.IssueEndDate</td>
                </tr>
                <tr>
                    <td><b>Expected Time</b></td>
                    <td colspan="3">@ViewBag.ExpectedTime</td>
                </tr>
                <tr>
                    <td><b>Acutal Issue Start Date</b></td>
                    <td>@ViewBag.ActualIssueStartDate</td>
                    <td><b>Actual Issue End Date</b></td>
                    <td>@ViewBag.ActualIssueEndDate</td>
                </tr>

                <tr>
                    <td><b>Severity</b></td>
                    <td>@ViewBag.SeverityName</td>
                    <td><b>Percentage complete</b></td>
                    <td>@ViewBag.CompletePercent</td>
                </tr>

                <tr>
                    <td><b>Issue Status</b></td>
                    <td>@ViewBag.StatusName</td>
                    <td><b>Status</b></td>
                    <td>@ViewBag.status</td>
                </tr>
                <tr>
                    <td><b>User Assigned</b></td>
                    <td colspan="3">@ViewBag.UserNameAssigned</td>
                </tr>
                <tr>
                    <td>
                        <b>Is Value Added?</b>
                    </td>
                    <td colspan="3">
                        @ViewBag.IsValueAdded
                    </td>
                </tr>

            </table>
            </div>

            <div>
                @Html.Action("LoadCommentsForIssues", "Admin", new { id = ViewBag.ID })
            </div>
        </div>
    