@model QBA.Qutilize.WebApp.Models.ProjectModel
@{
    /**/

    ViewBag.Title = "Manage Project";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Projects</title>
</head>
<body>
    @{
        var strMSGforSave = string.Empty;
        string strStyle = string.Empty;

        var strMsgforErr = string.Empty;
        var strmsgStyle = string.Empty;

        var errSts = TempData["ErrMsg"];

        var ErrStatus = TempData["ErrStatus"];
        if (ErrStatus != null)
        {
            strMSGforSave = ErrStatus.ToString();
        }
        if (strMSGforSave != "")
        {
            strStyle = "display:block";
        }
        else
        {
            strStyle = "display:none";
        }

    }

    <div class="form-horizontal col-md-12">
        <div class="alert alert-warning alert-dismissible" role="alert" style="@strStyle">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Data Saved Successfully!!!
        </div>
    </div>
    <h4>Manage Project</h4>
    <br />
    <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
        <table class="table table-striped table-bordered myTable" id="tblGridListViewPost">
            <thead id="tblHeadListViewPost">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Project Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Department Name</th>
                    <th class="text-center">Status</th>

                    <th class="text-center">Edit</th>

                </tr>
            </thead>
            <tbody>
                @Html.Action("LoadProjectData", "Admin")
            </tbody>
        </table>
    </div>
    <div class="col-md-12"><br /></div>
    <div class="form-horizontal col-md-12">
        <div class="alert alert-danger alert-dismissable fade in" id="ErrorMsg" name="ErrorMsg" style="display:none">
            <span id="errormsg"></span>
        </div>
    </div>



    @using (Html.BeginForm("ManageProject", "Admin", FormMethod.Post, new { onsubmit = "return checkUserForm()" }))
    {
        @Html.AntiForgeryToken()
        <h4>Project Details</h4>
        <hr />
        <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProjectID)

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentList, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DepartmentList, new SelectList(Model.DepartmentList, "DepartmentID", "DisplayTextForCumboWithOrgName"), "Select", new { @class = "form-control" })
                    @Html.HiddenFor(model => model.DepartmentID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxProjectTimeInHours, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaxProjectTimeInHours, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxProjectTimeInHours, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <script type="text/javascript">
        $("#tblGridListViewPost").dataTable();

        var DeptId = $('#DepartmentID').val();
        if (DeptId > 0) {
            $('#DepartmentList').val(DeptId);
        }
            
        function checkUserForm() {

            var ProjectName = document.getElementById("ProjectName").value;
            var DepartmentId = $("#DepartmentList").val();
            var MaxProjectTimeInHours = $('#MaxProjectTimeInHours').val();
            if (ProjectName == "") {
                document.getElementById("errormsg").innerHTML = "Please Provide Project Name";
                document.getElementById("ErrorMsg").style.display = 'block';

                return false;
            }

            if (DepartmentId <= 0) {
                document.getElementById("errormsg").innerHTML = "Please select a department";
                document.getElementById("ErrorMsg").style.display = 'block';
                return false;
            }
            if ($.isNumeric(MaxProjectTimeInHours) == false) {
                document.getElementById("errormsg").innerHTML = "Please enter only numeric value for maximum time for project.";
                document.getElementById("ErrorMsg").style.display = 'block';
                return false;
            }
            return true;
        }

        $("#DepartmentList").change(function () {
            var departmentId = $("#DepartmentList").val();
            $('#DepartmentID').val(departmentId);

        });
    </script>
</body>
</html>

