@model QBA.Qutilize.WebApp.Models.DailyTaskViewModel
@using System.Web.Helpers;

@{


    ViewBag.Title = "Daily Task";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daily Task</title>
</head>
<body>
    @{
        //List<dynamic> obj1 = new List<dynamic>();
        //obj1 = ViewBag.Total;
        //var grid = new WebGrid(obj1);

        var strMSGforSave = string.Empty;
        string strStyle = string.Empty;

        var strMsgforErr = string.Empty;
        var strmsgStyle = string.Empty;

        var errSts = TempData["ErrMsg"];

        var ErrStatus = TempData["ErrStatus"];
        if (ErrStatus != null)
        {
            strMSGforSave = ErrStatus.ToString();
        }
        if (strMSGforSave != "")
        {
            strStyle = "display:block";
        }
        else
        {
            strStyle = "display:none";
        }
    }

    <div class="form-horizontal col-md-12" >
            <div class="alert alert-warning alert-dismissible" role="alert" style="@strStyle">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="saveMsg">
                    <span aria-hidden="true">&times;</span>
                </button>
                Data Saved Successfully!!!
            </div>
        </div>
        <h4>Daily Task</h4>
        <br />

    <div style="width:100%;float:left; height:auto;">

        <div class="form-group">
            @Html.Label("Start date", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.DisplayFor(model => model.StartDate)

            </div>
            @Html.Label("End date", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
        <br />
       
        <br />
        <div class="form-horizontal col-md-12" id="ErrorMsg" name="ErrorMsg" style="display:none">
            <div class="alert alert-danger alert-dismissable fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="saveMsg">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="errormsg"></span>
            </div>
        </div>
        <table class="table table-bordered">
            <tr class="text-center ">
                <td>Task Date</td>
                <td>Projects</td>
                <td>Task Name</td>
                <td>Description</td>
                <td>Start Time</td>
                <td>End Time</td>
                <td></td>

            </tr>

            <tr>

                <td>
                    <input type="text" class="form-control input-sm datepicker" id="TaskDateInsert">
                </td>

                <td> @Html.DropDownListFor(M => M.ProjectsList, new SelectList(Model.ProjectsList, "ProjectID", "ProjectName"), new { @class = "form-control" })</td>
                <td>

                    <input type="text" class="form-control input-sm" id="TaskNameInsert">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" id="DescriptionInsert">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" pattern="([01]?[0-9]|2[0-3])(:[0-5][0-9]){2}" id="StartTimeInsert">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" id="EndTimeInsert">
                </td>

                <td colspan="3">
                    @*<input type="button" class="btn btn-primary" value="Create" onclick="location.href='@Url.Action("InsertDailyTask", "DailyTask")'" />*@
                    <input type="submit" value="&#xe173;" class="btn btn-primary glyphicon glyphicon-floppy-saved" id="btnInsert" title="Insert" />
                </td>

            </tr>
        </table>



        @{if (Model != null)
            {
                var grid = new WebGrid(Model.DailyTaskList, canPage: false, canSort: false, ajaxUpdateContainerId: "gridContent");
                //grid.Pager(WebGridPagerModes.NextPrevious);

        <div id="gridContent" class="table-responsive">

            @grid.GetHtml(tableStyle: "table table-striped table-bordered myTable",
            headerStyle: "text-center",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "select",
            columns: grid.Columns(

      grid.Column("TaskDate",
             style: "col2",
             format: @<text>
                    <span id="TaskDate" class="display-mode">@item.TaskDate.ToShortDateString()</span>

                    @Html.TextBox("TaskDate-Edit", ((DateTime)item.TaskDate).ToShortDateString(), new { @class = "edit-mode datepicker" })

            </text>),
     grid.Column("ProjectName",
    style: "col2",
    format: @<text>
            <span id="ProjectName" class="display-mode">@item.ProjectName</span>
            <span id="ProjectName" class="edit-mode">@item.ProjectName</span>

        </text>),
  grid.Column("TaskName",
  style: "col2",
  format: @<text>
            <span id="TaskName" class="display-mode">@item.TaskName</span>

            @Html.TextBox("TaskName-Edit", (string)item.TaskName, new { @class = "edit-mode" })
        </text>), /*second column end*/


    grid.Column("Description",
style: "col2",
format: @<text>
            <span id="Description" class="display-mode">@item.Description</span>
            @Html.TextBox("Description-Edit", (string)item.Description, new { @class = "edit-mode" })
        </text>),/*fourth column end*/

grid.Column("Start Time",
   style: "col2",
   format: @<text>
            <span id="StartTime" class="display-mode">@item.StartTimeToDisplay</span>
            @Html.TextBox("StartTime-Edit", (string)item.StartTimeToDisplay, new { @class = "edit-mode timePicker" })
        </text>),
grid.Column("End Time",
style: "col2",
format: @<text>
            <span id="EndTime" class="display-mode">@item.EndTimeToDisplay</span>
            @Html.TextBox("EndTime-Edit", (string)item.EndTimeToDisplay, new { @class = "edit-mode timePicker" })
        </text>),

        grid.Column("Hours",
        style: "col2",
        format: @<text>
            @* <span id="hours" class="display-mode">@item.Hours.ToString("#,0.00")</span>*@
            <span id="hours" class="display-mode">@item.HoursToDisplay</span>


        </text>),

  grid.Column("",
  style: "col1",
  format: @<text><div style="padding-left:20px; float:right;">


                @*<button class="btn btn-primary edit-item display-mode" id="@item.DailyTaskId">Edit</button>*@
                <button class="btn btn-primary edit-item display-mode" id="@item.DailyTaskId" title="Edit"> <span class="glyphicon">&#x270f;</span></button>
                <button class="btn btn-primary display-mode delete-item" id="@item.DailyTaskId"><span class="glyphicon" title="Delete">&#xe014;</span></button>
                <button class="btn btn-primary save-item edit-mode" id="@item.DailyTaskId"><span class="glyphicon" title="Update">&#xe013;</span></button>
                <button class="btn btn-primary cancel-item edit-mode" id="@item.DailyTaskId"><span class="glyphicon" title="Cancel">&#xe014;</span></button>
            </div>
        </text>)) /*End of Coloumns*/
     ) @*end of grid*@

        </div>
}
        }
    </div>
   

    <style>
        /*th {
            background-color: gray;
            color: white;
        }*/
    </style>
    <script type="text/javascript">
        var curr = new Date;
        var first = curr.getDate() - curr.getDay();
        var first = first + 1
        //var first = first 

        var last = first + 6;

        $('#TaskDateInsert').datepicker({
            format: 'dd-mm-yy',
            minDate: new Date(curr.setDate(first)),
            maxDate: new Date()
        });
        $("#StartTimeInsert").timepicker({ 'scrollDefault': 'now' })
        $("#EndTimeInsert").timepicker({ 'scrollDefault': 'now' })

        $(".datepicker").datepicker({
            format: 'dd-mm-yy',
            autoclose: true, todayBtn: 'linked',
            minDate: new Date(curr.setDate(first)),
            maxDate: new Date()
        })


        $(".timePicker").timepicker({ 'scrollDefault': 'now' })

        $('.edit-mode').hide();

        $('.edit-item').on('click', function () {
            $('.edit-mode').hide();
            $('.delete-mode').hide();
            $('.display-mode').show();
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('.cancel-item').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.display-mode,.edit-mode').toggle();
        });

        $('.delete-item').on('click', function () {
            if (confirm("Are you sure to delete this contact?")) {
                var tr = $(this).parents('tr:first');
                var ID = $(this).prop('id');

                $.post(
                    '@Url.Action("DeleteDailyTask", "DailyTask")',
                    { ID: ID },
                    function (item) {
                        tr.remove();
                        alert('Succesfully deleted.')
                    }, "json");
            }
        });

        $('.save-item').on('click', function () {

            //alert('save-item clicked');
            var tr = $(this).parents('tr:first');
            var DailyTaskId = $(this).prop('id');
            //alert(ID);

            var taskDate = tr.find('#TaskDate-Edit').val();
            var taskName = tr.find('#TaskName-Edit').val();
            var Description = tr.find('#Description-Edit').val();
            var startTime = tr.find('#StartTime-Edit').val();
            var EndTime = tr.find('#EndTime-Edit').val();

            var stt = new Date("November 13, 2013 " + startTime);
            stt = stt.getTime();

            var endt = new Date("November 13, 2013 " + EndTime);
            endt = endt.getTime();

            var diff = (endt - stt) / 1000;
            diff /= 3600;

            if (diff >= 24) {
                ShowError(" time diffrence can not be greater than 24 hours..");
                return false;
            }
            if (stt > endt) {
                ShowError("start time can not be greater than end time..");
                return false;
            }
            $.post(
                '@Url.Action("UpdateDailyTask", "DailyTask")',
                { DailyTaskId: DailyTaskId, TaskDate: taskDate, TaskName: taskName, Description: Description, StartTime: startTime, EndTime: EndTime},
                function (item) {
                   // alert(item.TaskDate);
                    tr.find('#TaskDate').text(item.TaskDate);
                    tr.find('#TaskName').text(item.TaskName);
                    tr.find('#Description').text(item.Description);
                    tr.find('#StartTime').text(item.StartTime);
                    tr.find('#EndTime').text(item.EndTime);
                    tr.find('#hours').text(item.Hours);

                }, "json");
            tr.find('.edit-mode, .display-mode').toggle();
            $('#ErrorMsg').css("display", "none");
            //$("#id").css("display", "block");
        });

         $('#btnInsert').click(function () {

             var taskDate = $('#TaskDateInsert').val();

             var projectID = $('#ProjectsList').val();

             var taskName = $('#TaskNameInsert').val();

             var startTime = $('#StartTimeInsert').val();

             var endTime = $('#EndTimeInsert').val();
             var dsec = $('#DescriptionInsert').val();


                if (taskDate == "") {
                    ShowError("Task date is required..")
                    return false;
                }
                if (projectID == 0) {
                    ShowError("Please select a project..")
                    return false;
                }

                if (taskName == "") {
                    ShowError("Please insert task name");
                    return false;
                }

                if (startTime== "") {
                    ShowError("Plese insert start time");
                    return false;
                }
                if (endTime == "") {
                    ShowError("Plese insert end time");
                    return false;
                }


             var stt = new Date("November 13, 2013 " + startTime);
             stt = stt.getTime();

             var endt = new Date("November 13, 2013 " + endTime);
             endt = endt.getTime();

             var diff = (endt - stt) / 1000;
             diff /= 3600;

             if (diff >= 24) {
                 ShowError(" time diffrence can not be greater than 24 hours..");
                 return false;
             }
             if (stt > endt) {
                 ShowError("start time can not be greater than end time..");
                 return false;
             }


                $.ajax({
                    url: '@Url.Action("InsertDailyTask", "DailyTask")',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        "taskDate": taskDate,
                        "projectID": projectID,
                        "startTime": startTime,
                        "endTime":endTime,
                        "taskName": taskName,
                        "descreption": dsec,
                    }), //Data end
                    success: function (response) {

                        if (response == "Success") {
                            console.log(response);
                            // @strMSGforSave=response.val();
                           // alert('Task saved succesfully');
                            location.reload();
                        }
                        else if (response == "Invalid") {
                           // @strMSGforSave=response
                            ShowError("Task time can not be greater than 24 hours..")
                            $('#ErrorMsg').css("display", "block");
                        }


                    }
                });// ajax end
        });// button click end

        function ShowError(message) {
            document.getElementById("errormsg").innerHTML = message;
            document.getElementById("ErrorMsg").style.display = 'block';
        }

        function diff_inHour(dt2, dt1) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            diff /= 3600;
            return Math.abs(Math.round(diff));

        }
        $(document).ready(function () {
            $("#gridContent table").dataTable();
        });  
    </script>
</body>
</html>
