@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}
<div class="row">

    <div class="col-md-12">
        @*<div class="row">
                <div class="col-md-12" id="dashBoardDateRange">
                    @Html.Action("GetDateRange", "Home")
                </div>
            </div>*@
        @if (HttpContext.Current.Session["SysAdmin"] != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sys Admin Data</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down" style="top:-15px;"></i></span>
                        </div>
                        <div class="panel-body">Panel content</div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div>
                <select id="ddlDashBoardSelection">
                    @if (HttpContext.Current.Session["OrgAdmin"] != null)
                    {
                        <option value="0">Admin Dashboard</option>
                        @*<option value="1">Manager Dashboard</option>
                        <option value="2">Self Dashboard</option>*@
                    }
                    @if (HttpContext.Current.Session["OrgPM"] != null)
                    {
                        <option value="1">Manager Dashboard</option>
                        @*<option value="2">Self Dashboard</option>*@
                    }
                    @if (HttpContext.Current.Session["OrgUser"] != null)
                    {
                        <option value="2">Self Dashboard</option>
                    }

                </select>
            </div>
            if (HttpContext.Current.Session["OrgAdmin"] != null)
            {
                <div style='display:none;' id='divAdminDB'>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab1Admin" style="font-weight:bold; font-size:medium">Project </a>
                                    </li>
                                    <li>
                                        <a href="#tab2Admin" style="font-weight:bold; font-size:medium">Project Tasks </a>
                                    </li>
                                    <li>
                                        <a href="#tab3Admin" style="font-weight:bold; font-size:medium">Helpdesk Tickets</a>
                                    </li>
                                    <li>
                                        <a href="#tab4Admin" style="font-weight:bold; font-size:medium">Resource Utilization</a>
                                    </li>
                                </ul>
                            </div>
                            <section id="tab1Admin" class="tab-content active">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetAdminProject", "Home")
                                    </div>
                                </div>
                            </section>
                            <section id="tab2Admin" class="tab-content hide">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*@Html.Action("GetAdminTask", "Home")*@
                                    </div>
                                </div>
                            </section>
                            <section id="tab3Admin" class="tab-content hide">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*@Html.Action("GetAdminTicket", "Home")*@
                                    </div>
                                </div>
                            </section>
                            <section id="tab4Admin" class="tab-content hide">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*@Html.Action("GetAdminUtilization", "Home")*@
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            }
            if (HttpContext.Current.Session["OrgPM"] != null)
            {
                <div style='display:none;' id='divManagerDB'>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab1Manager" style="font-weight:bold; font-size:medium">Project</a>
                                    </li>
                                    <li>
                                        <a href="#tab2Manager" style="font-weight:bold; font-size:medium">Project Tasks </a>
                                    </li>
                                    <li>
                                        <a href="#tab3Manager" style="font-weight:bold; font-size:medium">Helpdesk Tickets</a>
                                    </li>
                                    <li>
                                        <a href="#tab4Manager" style="font-weight:bold; font-size:medium">Resource Utilization</a>
                                    </li>
                                </ul>
                            </div>
                            <section id="tab1Manager" class="tab-content active">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetPMProject", "Home")
                                    </div>
                                </div>
                            </section>
                            <section id="tab2Manager" class="tab-content hide"></section>
                            <section id="tab3Manager" class="tab-content hide"></section>
                            <section id="tab4Manager" class="tab-content hide"></section>
                        </div>
                    </div>
                </div>
            }
            if (HttpContext.Current.Session["OrgUser"] != null)
            {
                <div style='display:none;' id='divSelfDB'>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab1Self" style="font-weight:bold; font-size:medium">Project Task</a>
                                    </li>
                                    <li>
                                        <a href="#tab2Self" style="font-weight:bold; font-size:medium">Helpdesk Ticket</a>
                                    </li>
                                    <li>
                                        <a href="#tab3Self" style="font-weight:bold; font-size:medium">Timesheet</a>
                                    </li>
                                </ul>
                            </div>
                            <section id="tab1Self" class="tab-content active">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetSelfTask", "Home")
                                    </div>
                                </div>
                            </section>
                            <section id="tab2Self" class="tab-content hide">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetSelfTicket", "Home")
                                    </div>
                                </div>
                            </section>
                            <section id="tab3Self" class="tab-content hide">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("GetSelfTimeSheet", "Home")
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<Text>

</Text>
<script>
    $(document).ready(function () {
        $("#ddlDashBoardSelection").change(function () {
            $("#divAdminDB").hide();
            $("#divManagerDB").hide();
            $("#divSelfDB").hide();
            $(this).find("option:selected").each(function () {
                if (this.value == '0') {
                    $("#divAdminDB").show();
                }
                else if (this.value == '1') {
                    $("#divManagerDB").show();
                }
                else if (this.value == '2') {
                    $("#divSelfDB").show();
                }
            });
        }).change();
        $('.nav-tabs > li > a').click(function (event) {
            event.preventDefault();//stop browser to take action for clicked anchor

            //get displaying tab content jQuery selector
            var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');

            //find actived navigation and remove 'active' css
            var actived_nav = $('.nav-tabs > li.active');
            actived_nav.removeClass('active');

            //add 'active' css into clicked navigation
            $(this).parents('li').addClass('active');

            //hide displaying tab content
            $(active_tab_selector).removeClass('active');
            $(active_tab_selector).addClass('hide');

            //show target tab content
            var target_tab_selector = $(this).attr('href');
            $(target_tab_selector).removeClass('hide');
            $(target_tab_selector).addClass('active');

        });
        $('#tblDashBoardSelfTaskData').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
        $('#tblDashBoardSelfTicketData').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
        $('#tblDashBoardSelfTisheetData').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });

        $('#tblDashBoardAdminProjectData').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });

        $('#tblDashBoardPMProjectData').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });
</script>
<style>
    /** Start: to style navigation tab **/
    .nav {
        margin-bottom: 18px;
        margin-left: 0;
        list-style: none;
    }

        .nav > li > a {
            display: block;
        }

    .nav-tabs {
        *zoom: 1;
    }

        .nav-tabs:before,
        .nav-tabs:after {
            display: table;
            content: "";
        }

        .nav-tabs:after {
            clear: both;
        }

        .nav-tabs > li {
            float: left;
        }

            .nav-tabs > li > a {
                padding-right: 12px;
                padding-left: 12px;
                margin-right: 2px;
                line-height: 14px;
            }

    .nav-tabs {
        border-bottom: 1px solid #ddd;
    }

        .nav-tabs > li {
            margin-bottom: -1px;
        }

            .nav-tabs > li > a {
                padding-top: 8px;
                padding-bottom: 8px;
                line-height: 18px;
                border: 1px solid transparent;
                -webkit-border-radius: 4px 4px 0 0;
                -moz-border-radius: 4px 4px 0 0;
                border-radius: 4px 4px 0 0;
            }

                .nav-tabs > li > a:hover {
                    border-color: #eeeeee #eeeeee #dddddd;
                }

        .nav-tabs > .active > a,
        .nav-tabs > .active > a:hover {
            color: #555555;
            cursor: default;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

    li {
        line-height: 18px;
    }

    .tab-content.active {
        display: block;
    }

    .tab-content.hide {
        display: none;
    }


    /** End: to style navigation tab **/

    .ui-timepicker-container {
        z-index: 3500 !important;
    }
</style>
