@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

<div class="row">
    <div class="col-md-12" id="dashBoardDateRange">
        @Html.Action("GetDateRange", "Home")
    </div>
</div>
@if (HttpContext.Current.Session["SysAdmin"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sys Admin Data details</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down" style="top:-15px;"></i></span>
                </div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>
    </div>
}
@if (HttpContext.Current.Session["OrgAdmin"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin Data details</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down" style="top:-15px;"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" id="DashBoardAdminSummary">
                        <!-- load header summary -->
                        @Html.Action("LoadDashBoardAdminSummary", "Home")
                    </div>
                    <div class="row" id="divLoadDashBoardDataDayWiseAdmin">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label> Day wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="barChartAdmin" width="200" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.Action("GetTableForDaywisedetailsinMinuteForAdmin","Home")                                
                        </div>
                        
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label>User Wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="DonutChartUserWiseAdmin" width="200" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label>Project wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="DonutChartProjectWiseAdmin" width="200" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Resource Wise Data:</label></div>
                    <div class="panel-body" id="divActualDataProj">
                        @Html.Action("GetResourceWiseDataAdmin", "Home")
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Project Wise Data:</label></div>
                    <div class="panel-body" id="divActualDataReportee">
                        @Html.Action("GetProjectWiseDataAdmin", "Home")
                    </div>
                </div>
            </div>
        </div>*@
}
@if (HttpContext.Current.Session["OrgPM"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Manager data details</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down" style="top:-15px;"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" id="DashBoardPMSummary">
                        <!-- load header summary -->
                        @Html.Action("LoadDashBoardPMSummary", "Home")
                    </div>




                    <div class="row" id="divLoadDashBoardDataDayWiseAdmin">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label> Day wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="barChartPM" width="200" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            @Html.Action("GetTableForDaywisedetailsinMinuteForPM", "Home")
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label>User Wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="DonutChartUserWisePM" width="200" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label>Project wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="DonutChartProjectWisePM" width="200" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
@if (HttpContext.Current.Session["OrgUser"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Self Data details</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down" style="top:-15px;"></i></span>
                </div>
                <div class="panel-body">
                    <div class="row" id="divLoadDashBoardDataDayWise">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label> Day wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="barChart" width="200" height="30"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label> Day wise details:</label></div>
                                <div class="panel-body" id="divActualData">
                                    @Html.Action("GetDataActual", "Home")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading"><label>Project wise details in minute:</label></div>
                                <div class="panel-body">
                                    <canvas id="DonutChart" width="200" height="100"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>


    $(document).ready(function () {
        $('#tblAppraisalRating').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'Day wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            //buttons: [{
            //    extend: 'pdfHtml5',
            //    pageSize: 'LEGAL',
            //    header: true,
            //    message: vMSG, // Date Range
            //    title: vReportName, // Report Name should be go here.

            //    //orientation: 'landscape',
            //    customize: function (doc) {
            //        doc.defaultStyle.fontSize = 10; //<-- set fontsize to 16 instead of 10
            //    }
            //},
            //{
            //    extend: 'excelHtml5',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'print',//,
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'csv',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //}
            //],
            //buttons: [
            //     'copy', 'csv', 'excel', 'pdf'
            //],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]


        });
        $('#TableuserWiseDetailsInMinutes').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'User wise details',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            //buttons: [{
            //    extend: 'pdfHtml5',
            //    pageSize: 'LEGAL',
            //    header: true,
            //    message: vMSG, // Date Range
            //    title: vReportName, // Report Name should be go here.

            //    //orientation: 'landscape',
            //    customize: function (doc) {
            //        doc.defaultStyle.fontSize = 10; //<-- set fontsize to 16 instead of 10
            //    }
            //},
            //{
            //    extend: 'excelHtml5',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'print',//,
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'csv',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //}
            //],
            //buttons: [
            //     'copy', 'csv', 'excel', 'pdf'
            //],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]


        });
        $('#TableuserWiseDetailsInMinutesForPM').DataTable({
            // "pageLength": 10,
            "aaSorting": [],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Download Report',
                    extend: 'csvHtml5',
                    title: 'User wise details For Project Manager',
                    exportOptions: {
                        columns: 'th:not(.noExport)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Data export'
                }
            ],
            //buttons: [{
            //    extend: 'pdfHtml5',
            //    pageSize: 'LEGAL',
            //    header: true,
            //    message: vMSG, // Date Range
            //    title: vReportName, // Report Name should be go here.

            //    //orientation: 'landscape',
            //    customize: function (doc) {
            //        doc.defaultStyle.fontSize = 10; //<-- set fontsize to 16 instead of 10
            //    }
            //},
            //{
            //    extend: 'excelHtml5',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'print',//,
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //},
            //{
            //    extend: 'csv',
            //    message: vMSG, // Date Range
            //    title: vReportName // Report Name should be go here.
            //}
            //],
            //buttons: [
            //     'copy', 'csv', 'excel', 'pdf'
            //],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]


        });
    })


    $(document).ready(function () {

        //$(".datepicker").datepicker();
        $('#txtStartDate').datepicker();
        $('#txtEndDate').datepicker();
        gerBarChartData();
        gerDonutChartData();
        gerDonutChartDataUserWiseAdmin();
        gerDonutChartDataProjectWiseAdmin();
        gerBarChartDataAdmin();
        gerDonutChartDataUserWisePM();
        gerDonutChartDataProjectWisePM();
        gerBarChartDataPM();
        getDayWiseDetailsinMinutesForAdmin();
    });
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');

        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');

        }
    })
    function gerBarChartData(){
        try {
        //-----Single Bar --------------
        var c = document.getElementById("barChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("BarChartData", "Home")');//"/Home/BarChartData"
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData,
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myBarChart.update();
        }
        catch (e) { }
    };
    function gerBarChartDataAdmin(){
        try {
        //-----Single Bar --------------
        var c = document.getElementById("barChartAdmin");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("BarChartDataAdmin", "Home")');//"/Home/BarChartData"
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData,
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myBarChart.update();
        }
        catch (e) { }
    };


    function getDayWiseDetailsinMinutesForAdmin() {
         try {
         
            $.ajax({
                url: '@Url.Action("BarChartDataAdmin", "Home")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    
                }),
                success: function (response) {
                    if (response != "") {
                        console.log(JSON.stringify(response));
                    }
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }

    function gerBarChartDataPM(){
        try {
        //-----Single Bar --------------
        var c = document.getElementById("barChartPM");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("BarChartDataPM", "Home")');//"/Home/BarChartData"
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: tData,
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myBarChart.update();
        }
        catch (e) { }
    };
    function gerDonutChartData() {
        try {
        //----Donut Chart---------
        var c = document.getElementById("DonutChart");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("GetDonutChartData", "Home")');//"/Home/GetDonutChartData"
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myPieChart.update();
        }
        catch (e) { }
    }
    function gerDonutChartDataUserWiseAdmin() {
        try {
        //----Donut Chart---------
        var c = document.getElementById("DonutChartUserWiseAdmin");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("GetDonutChartUserWiseAdmin", "Home")');//"/Home/GetDonutChartData"
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myPieChart.update();
        }
        catch (e) { }
    }
    function gerDonutChartDataProjectWiseAdmin() {
        try {
        //----Donut Chart---------
        var c = document.getElementById("DonutChartProjectWiseAdmin");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("GetDonutChartProjectWiseAdmin", "Home")');//"/Home/GetDonutChartData"
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myPieChart.update();
        }
        catch (e) { }
    }
    function gerDonutChartDataUserWisePM() {
        try {
        //----Donut Chart---------
        var c = document.getElementById("DonutChartUserWisePM");
        var ctx = c.getContext("2d");
        var tData = $.getValues('@Url.Action("GetDonutChartUserWisePM", "Home")');//"/Home/GetDonutChartData"
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: tData,
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'right'
                },
                tooltips: {
                    enabled: true
                }
            }
        });
            myPieChart.update();
        }
        catch (e) { }
    }
    function gerDonutChartDataProjectWisePM() {
        try {
            //----Donut Chart---------
            var c = document.getElementById("DonutChartProjectWisePM");
            var ctx = c.getContext("2d");
            var tData = $.getValues('@Url.Action("GetDonutChartProjectWisePM", "Home")');//"/Home/GetDonutChartData"
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: tData,
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                        position: 'bottom'
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            });
                myPieChart.update();
         }
        catch (e) {}
    }
    function RefreshData() {
        try {
            var vStartDate = $('#txtStartDate').val();
            var vEndDate = $('#txtEndDate').val();
            $.ajax({
                url: '@Url.Action("GetRefreshedData", "Home")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    startdate: vStartDate, endDate: vEndDate
                }),
                success: function (response) {
                    if (response != "") {
                        @*gerBarChartData();
                        gerDonutChartData();
                        $("#divActualData").html(response);
                        gerDonutChartDataUserWiseAdmin();
                        gerDonutChartDataProjectWiseAdmin();
                        gerBarChartDataAdmin()
                        $("#DashBoardAdminSummary").load('@Url.Action("LoadDashBoardAdminSummary", "Home")');
                        gerDonutChartDataUserWisePM();
                        gerDonutChartDataProjectWisePM();
                        gerBarChartDataPM();
                        $("#DashBoardPMSummary").load('@Url.Action("LoadDashBoardPMSummary", "Home")');*@
                        var url = '@Url.Action("DashBoard", "Home")';
                        window.location.href = url;
                    }
                }
            });
        }
        catch (e) {
            alert(e);
        }
    }
</script>
