@model QBA.Qutilize.WebApp.Models.ClientModel
@{
    ViewBag.Title = "Manage Client";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}


@{
    var strMSGforSave = string.Empty;
    string strStyle = string.Empty;
    string strErrorStyle = string.Empty;
    var strMsgforErr = string.Empty;
    var strmsgStyle = string.Empty;

    var errSts = TempData["ErrMsg"];

    var ErrStatus = TempData["ErrStatus"];
    strStyle = "display:none";
    strErrorStyle = "display:none";

    if (ErrStatus != null && Convert.ToBoolean(ErrStatus) == false)
    {

        strStyle = "display:block";
        strErrorStyle = "display:none";
    }
    else if (ErrStatus != null && Convert.ToBoolean(ErrStatus) == true)
    {
        strMSGforSave = "Error occured.";
        strStyle = "display:none";
        strErrorStyle = "display:block";
    }

    //if (strMSGforSave != "")
    //{
    //    strStyle = "display:block";
    //}
    //else
    //{
    //    strStyle = "display:none";
    //}

}

<div class="form-horizontal col-md-12">
    <div class="alert alert-success alert-dismissible" role="alert" style="@strStyle">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Data Saved Successfully.
    </div>
</div>

<div class="form-horizontal col-md-12">
    <div class="alert alert-danger alert-dismissable fade in" id="ErrorMsg" name="ErrorMsg" style="@strErrorStyle">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="errormsg">@strMSGforSave</span>
    </div>
</div>

<h4>Manage Client</h4>

<div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
    <table class="table table-striped table-bordered myTable" id="tblGridListViewPost">
        <thead id="tblHeadListViewPost">
            <tr>
                <th class="text-center tblHeaderColor">ID</th>
                <th class="text-center tblHeaderColor">Code</th>
                <th class="text-center tblHeaderColor">Name</th>
                <th class="text-center tblHeaderColor">Organisation</th>
                <th class="text-center tblHeaderColor">Active</th>
                <th class="text-center tblHeaderColor">Edit</th>

            </tr>
        </thead>
        <tbody>
            @Html.Action("LoadClientData", "Admin")
        </tbody>
    </table>
</div>
<div class="col-md-12"><br /></div>
@using (Html.BeginForm("ManageClient", "Admin", FormMethod.Post, new { onsubmit = "return checkClientForm()" }))
{
    @Html.AntiForgeryToken()
    <h4>Client Details</h4>
    <hr />

    <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClientID)


        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClientCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClientCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganisationList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OrganisationList, new SelectList(Model.OrganisationList, "id", "orgname"), "Please select", new { @class = "form-control" })
                @Html.HiddenFor(model => model.ClientOrganisationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#tblGridListViewPost").dataTable();

    var orgId = $('#ClientOrganisationID').val();

    $('#OrganisationList').change(function () {
        var OrgId = $('#OrganisationList').val();
        $('#ClientOrganisationID').val(OrgId)

    });

    if (orgId != 0) {
        $('#OrganisationList').val(orgId);
        if ($('#OrganisationList option').length == 2) {
            $("#OrganisationList").prop("disabled", true);
        }
    }

    function checkClientForm() {
        //alert('test');
        var clientName = $('#ClientName').val();
        var clientCode = $('#ClientCode').val();
        orgId = $('#OrganisationList').val();

        if (clientName == "") {
            showErrorMessage("Please provide client name")
            return false;
        }
        else {
            hideErrorMessage();
        }
        if (clientCode == "") {
            showErrorMessage("Please provide client code")
            return false;
        }
        else {
            hideErrorMessage();
        }

        return true;
    }

    function showErrorMessage(message) {
        document.getElementById("errormsg").innerHTML = message;
        document.getElementById("ErrorMsg").style.display = 'block';
    }
    function hideErrorMessage() {
        document.getElementById("errormsg").innerHTML = '';
        document.getElementById("ErrorMsg").style.display = 'none';
    }
</script>

