@model QBA.Qutilize.WebApp.Models.UserModel

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

@*<h3>More on @Html.Raw(Html.AttributeEncode(ViewBag.Name))</h3>*@
<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">@Html.Raw(Html.AttributeEncode(ViewBag.Name))</h3>
        <h5 class="widget-user-desc">Founder &amp; CEO</h5>
    </div>
    <div class="widget-user-image">
        @*<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">*@
        <span class="glyphicon glyphicon-user icon-size img-circle"></span>
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <div class="box box-info">
                        <div class="box-header">
                            <span class="description-text box-title">Basic Info</span>
                        </div>
                        <div class="box-body">
                            3,200
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <div class="box box-success">
                        <div class="box-header">
                            <span class="description-text box-title">Personal Info</span>
                        </div>
                        <div class="box-body">
                            3,200
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <div class="box box-warning">
                        <div class="box-header">
                            <span class="description-text box-title">Work Info</span>
                        </div>
                        <div class="box-body">
                            3,200
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Raw(Html.AttributeEncode(ViewBag.Name))
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Raw(Html.AttributeEncode(ViewBag.Email))
        </div>
    </div>



    @*<div class="form-group">
        @Html.LabelFor(model => model.OrgName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Raw(Html.AttributeEncode(ViewBag.OrgName))
        </div>
    </div>*@



    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <a class="button" href="#popup1">Change Password</a>
        </div>
    </div>

    <div id="popup1" class="overlayPopup">
        <div class="popupSmall">
            <h4>Change Password</h4>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
                    <div class="form-group">
                        <input type="hidden" id="id" value="@ViewBag.ID" />
                        <label class="control-label col-md-5">New Password</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" name="newPassword" id="newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5">Re-type New Password</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" name="RetypeNewPassword" id="RetypeNewPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <a class="btn btn-default pull-right" href="#" onclick="ChangePassword()">Change</a>

                            @*<input type="button" class="btn btn-primary pull-right" value="Change" onclick="ChangePassword()"/>*@
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function ChangePassword() {
        var pass = $('#newPassword').val();
        var pass2 = $('#RetypeNewPassword').val();
        var id=$('#id').val();
        if (pass == "" || pass2 == "") {
            alert("Please type your new password.")
            return false;
        }
        if (pass != pass2) {
            alert("Password Mismatched!!");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePassword", "Account")',
                type: "POST",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                //data: { s_People_ID: People_ID },
                data: JSON.stringify({
                    "id":id,
                    "password": pass2
                }),
                success: function (response) {
                    $('#newPassword').val("");
                    $('#RetypeNewPassword').val("");
                    alert("Successfully Updated.")

                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    }
</script>