@model QBA.Qutilize.WebApp.Models.UserModel

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_ViewStartPrivate.cshtml";
}

@*<h3>More on @Html.Raw(Html.AttributeEncode(ViewBag.Name))</h3>*@
<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">@Html.DisplayFor(m => m.Name)</h3>@*@Html.Raw(Html.AttributeEncode(ViewBag.Name))*@
        <h5 class="widget-user-desc">@Html.DisplayFor(m => m.Designation)</h5>
    </div>
    <div class="widget-user-image">
        @if (Model.Gender.ToLower() == "male")
        {<img class="img-circle" src="~/Images/img_M.png" alt="User Avatar">}
        else if (Model.Gender.ToLower() == "female")
        { <img class="img-circle" src="~/Images/img_F.png" alt="User Avatar">}
        else
        {<img class="img-circle" src="~/Images/img_M.png" alt="User Avatar">}
        @*<span class="glyphicon glyphicon-user icon-size img-circle"></span>*@
    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-sm-4">
                <div class="description-block">
                    <div class="box box-info">
                        <div class="box-header">
                            <span class="description-text box-title">Basic Info</span>
                        </div>
                        <div class="box-body" style="text-align:left;">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.EmployeeCode, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.EmployeeCode)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ManagerName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.ManagerName)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ManagerEmpCode, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                   @Html.DisplayFor(m => m.ManagerEmpCode)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.RoleName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    <ul>@Html.Raw(Model.RoleName)</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4">
                <div class="description-block">
                    <div class="box box-success">
                        <div class="box-header">
                            <span class="description-text box-title">Personal Info</span>
                        </div>
                        <div class="box-body" style="text-align:left;">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.BirthDate, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.BirthDate)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Gender, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.Gender)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ContactNo, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.ContactNo)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.AlterNetContactNo, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.AlterNetContactNo)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.EmailId, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.EmailId)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.UserName)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    <a class="button" href="#popup1">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
            <div class="col-sm-4">
                <div class="description-block">
                    <div class="box box-warning">
                        <div class="box-header">
                            <span class="description-text box-title">Work Info</span>
                        </div>
                        <div class="box-body" style="text-align:left;">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.OrganisationName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    @Html.DisplayFor(m => m.OrganisationName)
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.DepartmentName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    <ul>@Html.Raw(Model.DepartmentName)</ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ProjectName, htmlAttributes: new { @class = "control-label col-md-5" })
                                <div class="col-md-7">
                                    <ul>@Html.Raw(Model.ProjectName)</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.description-block -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
@*<div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Raw(Html.AttributeEncode(ViewBag.Name))
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Raw(Html.AttributeEncode(ViewBag.Email))
        </div>
    </div>



    @*<div class="form-group">
            @Html.LabelFor(model => model.OrgName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Raw(Html.AttributeEncode(ViewBag.OrgName))
            </div>
        </div>

</div>*@

    

    <div id="popup1" class="overlayPopup">
        <div class="popupSmall">
            <h4>Change Password</h4>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <div class="form-horizontal col-md-12" style="border: 1px solid #f1f1f1; padding:15px">
                    <div class="form-group">
                        @*<input type="hidden" id="id" value="@m=>m.ID" />*@
                        @Html.HiddenFor(m=>m.ID)
                        <label class="control-label col-md-5">New Password</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" name="newPassword" id="newPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5">Re-type New Password</label>
                        <div class="col-md-7">
                            <input type="password" class="form-control" name="RetypeNewPassword" id="RetypeNewPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <a class="btn btn-default pull-right" href="#" onclick="ChangePassword()">Change</a>

                            @*<input type="button" class="btn btn-primary pull-right" value="Change" onclick="ChangePassword()"/>*@
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-default" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript">
    function ChangePassword() {
        var pass = $('#newPassword').val();
        var pass2 = $('#RetypeNewPassword').val();
        var id=$('#ID').val();
        if (pass == "" || pass2 == "") {
            alert("Please type your new password.")
            return false;
        }
        if (pass != pass2) {
            alert("Password Mismatched!!");
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("UpdatePassword", "Account")',
                type: "POST",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                //data: { s_People_ID: People_ID },
                data: JSON.stringify({
                    "id":id,
                    "password": pass2
                }),
                success: function (response) {
                    $('#newPassword').val("");
                    $('#RetypeNewPassword').val("");
                    alert("Successfully Updated.")

                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    }
</script>