<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/WebAdmin.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/Master.css">*@
    <link href="~/Content/timeline.css" rel="stylesheet" />
    <link href="~/Content/ionicons.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/sidenav.css" rel="stylesheet" />
    <link href="~/Scripts/pace-master/themes/Red/pace-theme-minimal.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">




    <script src="~/Scripts/dropzone/dropzone.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @*<script src="~/Scripts/buttons.flash.min.js"></script>
        <script src="~/Scripts/buttons.print.min.js"></script>
        <script src="~/Scripts/buttons.html5.min.js"></script>*@
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>


    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script src="~/Scripts/util.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

    <!-- Bootstrap Select Main JavaScript -->



    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/additional-methods.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.12.4.js"></script>*@
    @*<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>*@


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.js"></script>

    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script src="~/Scripts/utils_chartjs.js"></script>

    <script data-pace-options='{ "ajax": false }' src='~/Scripts/pace-master/pace.js'></script>

    <link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
    <link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>

    <script src="~/Scripts/bootstrap-notify-master/bootstrap-notify.min.js"></script>

    <script>
        paceOptions = {
            // Configuration goes here. Example:
            elements: false,
            restartOnPushState: false,
            restartOnRequestAfter: false
        }
    </script>

    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>
    @*<link rel="stylesheet" href="~/Content/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
        <script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>*@
</head>

<body>
    @if (HttpContext.Current.Session["sessUser"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        <div class="container-fluid">
            <div class="row panel panel-default" id="header">
                <div class="panel-body col-md-1 ">

                    <div class="col-md-6">
                        <a href="#" class="burger">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-md-6"><img src="~/images/Qutilize.png" alt="QBA:Logo" class="img-responsive img-logo  center-block"  style="width:500%"/></div>


                </div>
                <!-----Start User Block---->
                <div class="col-md-11">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <button type="button" class="btn btn-info btn-circle btn-xl dropdown-toggle user-image" data-toggle="dropdown" style="font-size:15px;">
                                    @HttpContext.Current.Session["Name"].ToString().FirstOrDefault()
                                </button>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>@HttpContext.Current.Session["Name"].ToString()</strong></p>
                                                    <p class="text-left">(@HttpContext.Current.Session["EmployeeCode"].ToString()) </p>
                                                    <p class="text-left small">@HttpContext.Current.Session["Designation"].ToString()</p>
                                                    <p class="text-left small">@HttpContext.Current.Session["Email"].ToString()</p>

                                                    <p class="text-left">Reporting Manager</p>
                                                    <p class="text-left small">
                                                    @HttpContext.Current.Session["ManagerName"].ToString() (@HttpContext.Current.Session["ManagerEmpCode"].ToString())
                                                    </p>

                                                    <div class="pull-left">
                                                        <a class="btn btn-default btn-flat" href="/Account/MyAccount/">My Account</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        @*@Html.ActionLink("Log Out!!!!", "Logout", "/Account", null, new { @class="btn btn-danger btn-block" })*@
                                                        @*<a class="btn btn-danger btn-block"  href="@Url.Action("Logout", "/Account/")">Log Out!!!!</a>*@
                                                        <a class="btn btn-danger btn-block" href="@Url.Action("Logout", "Home")" >Log Out!!!!</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-----End User Block------>
            </div>
            <div class="row panel panel-default hidden scroll" id="menu">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <p>Side Menu</p>
                        </div>
                        <div class="col-md-1">
                            <a href="#" class="burger">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="row lien">
                        <div class="col-md-12">
                            <a href='/Home/Dashboard' class='fa fa-dashboard'></a>&nbsp;
                            <a href="/Home/Dashboard">Dashboard</a>
                            <hr>
                        </div>
                    </div>
                    @Html.Action("LoadSideMenu", "Account")
                </div>
            </div>

        </div>

        @*if (Session["EditedBy"].ToString() == "")
        {
            @Html.Action("Call_ChangePassword", "Account");
        }*@

        <div class="container">
            <audio id="jukebox">
                <source src="~/Content/error.mp3" type="audio/mp3" />
            </audio>
            @*@functions {
                public int PopupShowDelay
                {
                    get
                    {
                        return ((1000 * (Convert.ToInt32(FormsAuthentication.Timeout.TotalSeconds))) - 220000);
                        // return 1000 * (Convert.ToInt32(FormsAuthentication.Timeout.TotalSeconds));
                    }
                }
            }*@



            <div class="row">
                <div class="form-horizontal  breadcrumb">
                @*@Html.MvcSiteMap("QBAClaimManagement").SiteMapPath()*@
                </div>
                @RenderSection("scripts", required: false)
                @RenderBody()
            </div>


        </div>

        <div id="divPopupTimeOut" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Attention!!!</h4>
                    </div>
                    <div class="modal-body">
                        @*@Html.Action("LoadTimeOUtText", "Account", new { area = "" })*@
                        @*Your session is about to expire!!!
                            Click OK to continue your session.*@
                        <br />
                        <span id="CountDownHolder"></span>
                        <br />

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default btn-sm" onclick="SessionTimeout.sendKeepAlive();">OK</button>
                        <button type="button" class="btn btn-default btn-sm" onclick="SessionTimeout.hidePopup();">Cancel</button>*@
                    </div>
                </div>

            </div>
        </div>

        <br /><br /><br /><br />

        <footer ID="footer">
            <div class="col-md-12">
                <hr />
                <p align="center">&copy;2019 &nbsp;<img src="~/images/smalllogo.png" alt="QBA:Logo" class="img-logo" />&nbsp;All rights reserved. </p>
            </div>
        </footer>
    }

    <script>
        $(".burger").click(function () {
            console.log("click");
            $("#menu").toggleClass('hidden');
            $("#header .burger").toggleClass('hidden');
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
    </script>
    <script src="~/Scripts/ModalAnimation.js"></script>
    <script type="text/javascript">
        var loginUrl='@Url.Action("Login", "Account", new { area = "" })';
        var logoutUrl='@Url.Action("Lo", "Account", new { area = "" })';
    var extendMethodUrl='@Url.Action("ExtendSession","Account", new { area = "" })';
        $(document).ready(function(){

            //ssionTimeout.schedulePopup();
        });

    @*window.SessionTimeout = (function() {
            var _timeLeft, _popupTimer, _countDownTimer;
            var stopTimers = function() {
                window.clearTimeout(_popupTimer);
                window.clearTimeout(_countDownTimer);
            };
            var updateCountDown = function() {
                var min = Math.floor(_timeLeft / 60);
                var sec = _timeLeft % 60;
                if(sec < 10)
                    sec = "0" + sec;

                document.getElementById("CountDownHolder").innerHTML = min + ":" + sec;

                if(_timeLeft > 0) {
                    _timeLeft--;
                    _countDownTimer = window.setTimeout(updateCountDown, 1000);
                } else  {
                    document.location = loginUrl;
                }
            };
            var showPopup = function() {
                var audio=document.getElementById("jukebox");
                audio.play();
                $('#divPopupTimeOut').modal('show');
          //  $("#divPopupTimeOut").show();
                _timeLeft = 120;
                updateCountDown();
            };
            var schedulePopup = function() {
                //$("#divPopupTimeOut").hide();
                $('#divPopupTimeOut').modal('hide');
                stopTimers();
                _popupTimer = window.setTimeout(showPopup, @PopupShowDelay);
               // alert(@PopupShowDelay)
            };
            var hidePopup=function(){
                $('#divPopupTimeOut').modal('hide');
                document.location = loginUrl;
            };
            var sendKeepAlive = function() {
                stopTimers();
                $('#divPopupTimeOut').modal('hide');
                $.ajax({
                    type: "POST",
                    url: extendMethodUrl,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function successFunc(response) {
                        SessionTimeout.schedulePopup();
                       // document.location = loginUrl;
                    },
                    error:function(){
                    }
                });
            };
            return {
                schedulePopup: schedulePopup,
                sendKeepAlive: sendKeepAlive,
                hidePopup:hidePopup,
                stopTimers:stopTimers,
            };

        })();*@

    </script>

</body>

</html>